ADFCloneWarsSentiment/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFCloneWarsSentiment"
		},
		"ewtwittersentiment_linkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ewtwittersentiment_linkedservice'"
		},
		"CloneWars_database_linkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CloneWars_database_linkedservice'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ewtwittersentiment_linkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ewtwittersentiment_linkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CloneWars_database_linkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('CloneWars_database_linkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hashtags_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ewtwittersentiment_linkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "0_02370421bc3848eebaa0cdccd3cfddb0_1.json",
						"container": "countsbycharacter"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"SystemTimeStamp": {
							"type": "string"
						},
						"Sentiment": {
							"type": "string"
						},
						"SentimentCount": {
							"type": "integer"
						},
						"SentimentScore": {
							"type": "number"
						},
						"AhsokaTano": {
							"type": "integer"
						},
						"AnakinSkywzalker": {
							"type": "integer"
						},
						"BoKatan": {
							"type": "integer"
						},
						"Maul": {
							"type": "integer"
						},
						"ObiWanKenobi": {
							"type": "integer"
						},
						"CaptainRex": {
							"type": "integer"
						},
						"BabyYoda": {
							"type": "integer"
						},
						"SiegeOfMandalore": {
							"type": "integer"
						},
						"StarWars": {
							"type": "integer"
						},
						"CloneWars": {
							"type": "integer"
						},
						"TheMandalorian": {
							"type": "integer"
						},
						"AhsokaLives": {
							"type": "integer"
						},
						"Jedi": {
							"type": "integer"
						},
						"Sith": {
							"type": "integer"
						},
						"MayThe4th": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ewtwittersentiment_linkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hashtags_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CloneWars_database_linkedservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SystemTimeStamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sentiment",
						"type": "nvarchar"
					},
					{
						"name": "SentimentCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SentimentScore",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AhsokaTano",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnakinSkywalker",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BoKatan",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Maul",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ObiWanKenobi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CaptainRex",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BabyYoda",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SiegeOfMandalore",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StarWars",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CloneWars",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TheMandalorian",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AhsokaLives",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Jedi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Sith",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MayThe4th",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "hashtags"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CloneWars_database_linkedservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_hashtags')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hashtags_BlobToSql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored Procedure - Truncate Hashtags",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['SystemTimeStamp']"
										},
										"sink": {
											"name": "SystemTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Sentiment']"
										},
										"sink": {
											"name": "Sentiment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['SentimentCount']"
										},
										"sink": {
											"name": "SentimentCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['SentimentScore']"
										},
										"sink": {
											"name": "SentimentScore",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['AhsokaTano']"
										},
										"sink": {
											"name": "AhsokaTano",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['AnakinSkywzalker']"
										},
										"sink": {
											"name": "AnakinSkywalker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['BoKatan']"
										},
										"sink": {
											"name": "BoKatan",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['Maul']"
										},
										"sink": {
											"name": "Maul",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['ObiWanKenobi']"
										},
										"sink": {
											"name": "ObiWanKenobi",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['CaptainRex']"
										},
										"sink": {
											"name": "CaptainRex",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['BabyYoda']"
										},
										"sink": {
											"name": "BabyYoda",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['SiegeOfMandalore']"
										},
										"sink": {
											"name": "SiegeOfMandalore",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['StarWars']"
										},
										"sink": {
											"name": "StarWars",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['CloneWars']"
										},
										"sink": {
											"name": "CloneWars",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['TheMandalorian']"
										},
										"sink": {
											"name": "TheMandalorian",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['AhsokaLives']"
										},
										"sink": {
											"name": "AhsokaLives",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['Jedi']"
										},
										"sink": {
											"name": "Jedi",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['Sith']"
										},
										"sink": {
											"name": "Sith",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['MayThe4th']"
										},
										"sink": {
											"name": "MayThe4th",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Hashtags_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hashtags_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored Procedure - Truncate Hashtags",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[truncate_hashtags]"
						},
						"linkedServiceName": {
							"referenceName": "CloneWars_database_linkedservice",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Hashtags_dataset')]",
				"[concat(variables('factoryId'), '/datasets/hashtags_sink')]",
				"[concat(variables('factoryId'), '/linkedServices/CloneWars_database_linkedservice')]"
			]
		}
	]
}